h1 {
color: white;
text-align: center;
margin-bottom: -35px;
font-size: 230%;
margin-top: -17px;
}
h2 {
color: white;
text-align: center;
margin-bottom: -10px;
font-size: 90%;
}
body, html
{
margin:5px;
padding:0px;
font-family:'Courier New', Courier, monospace;
font-size: 120%;
letter-spacing: .2rem;
text-align: center;
background-color: #000000;
} 

#container {
display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
#container > div {
background-color: white;
flex:1;
font-size: 20px;
margin: 52px;
padding: 23px;
width: 164px;
height: 30px;
text-align: center;
}
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
font-size: 70%;
  background-color: #000000;
box-sizing: border-box;
}
li {
float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
 box-sizing: border-box;
  text-decoration: none;
float: left;
padding: 15px 16px;
}
li a:hover {
  background-color: #111;
}